# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit upload caches or local runtime files
.streamlit/

# NLTK data (if accidentally downloaded to project)
nltk_data/
